<!DOCTYPE html>
<html>
<head>
  <title>GoogleMapsMarc</title>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuoFZ8C9UTJLBYux6Cu7dh6hANwGs6qXE&sensor=false&libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">Gmaps</a>
    </div>
  </nav>
  <hr />

<%= yield %>

</body>
</html>
